
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        .container {
            max-width: 400px;
            margin: auto;
        }

        h2{
            text-align: center;
        }
        label, input {
            display: block;
            width: 100%;
            margin-bottom: 10px;
            border-radius: 50px;
        }
        button {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 50px;
        }
        button:hover {
            background-color: #0056b3;
        }
        .mensaje {
            position: fixed;
            top: 10px;
            right: 10px;
            padding: 10px;
            color: white;
            border-radius: 5px;
            display: none;
        }
        .listo { background-color: green; }
        .error { background-color: red; }